<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Enter Login Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" ngModel name="username" required></ion-input>
      </ion-item>
      <ion-item
        ><ion-label position="floating">Password</ion-label>
        <ion-input type="password" ngModel name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="ion-padding"
    >
      Login
    </ion-button>
  </form>
</ion-content>
