<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/patient-records"></ion-back-button>
    </ion-buttons>
    <ion-title>patient-info</ion-title>
  </ion-toolbar>
</ion-header>
<!-- style="--ion-background-color: red" -->
<ion-content class="ion-padding" [style.--background]="pageColor">
  <h3>Patient Information</h3>
  <div *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <form
    #data="ngForm"
    (ngSubmit)="onSubmit(loadedPatientRecord.id,data)"
    *ngIf="!isLoading && isAdmin"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">Patient Name</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="loadedPatientRecord.Name"
          name="Name"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Aadhar Number</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="loadedPatientRecord.AadharNumber"
          name="AadharNumber"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Covid Result</ion-label>
        <ion-select
          [(ngModel)]="loadedPatientRecord.CovidResult"
          name="CovidResult"
          (ionChange)="updateCovidResult(data)"
        >
          <ion-select-option *ngFor="let report of reports" value="{{report}}">
            {{report}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="ion-padding"
      [disabled]="!data.valid"
    >
      Submit Changed Patient details
    </ion-button>
  </form>
  <ion-card *ngIf="!isLoading&&!isAdmin">
    <ion-card-header>
      <ion-card-title
        >Patient Name: {{loadedPatientRecord.Name}}</ion-card-title
      >
      <ion-card-subtitle
        >Aadhar Number: {{loadedPatientRecord.AadharNumber}}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label
            >Covid Result: {{loadedPatientRecord.CovidResult!=null?
            loadedPatientRecord.CovidResult : 'Pending'}}</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
