<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title> Car App Title </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1"
          ><ion-item routerLink="/patient-records">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Added Records</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1"
          ><ion-item (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
