<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>patient-records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let record of fetchedPatientRecords" lines="none">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Patient UID: {{record.id}}</ion-card-title>
          <ion-card-title>Patient Name: {{record.Name}}</ion-card-title>
          <ion-card-subtitle
            >Covid Result: {{record.CovidResult!=null? 'Declared':
            'Pending'}}</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-button
                color="primary"
                class="ion-margin"
                (click)="viewPatientRecord(record.id)"
              >
                {{isAdmin? 'Edit Record': 'View Record'}}
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
