<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title> Covid App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Add Patient Details</h3>
  <form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Patient name</ion-label>
        <ion-input type="text" ngModel name="Name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Aadhar Number</ion-label>
        <ion-input type="text" ngModel name="AadharNumber" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="ion-padding"
      [disabled]="!data.valid"
    >
      Submit Patient details
    </ion-button>
  </form>
</ion-content>
